<div class="row" *ngIf="usuario">
    <div class="col-md-12"><h5 class="mb-2">Detalle usuario</h5></div>
    <div class="col-md-12">
        <div class="my-1"><strong>Nombre:</strong><span>{{usuario.first_name}}</span></div>
        <div class="my-1"><strong>Apellidos:</strong><span>{{usuario.last_name}}</span></div>
        <div class="my-1"><strong>Email:</strong><span>{{usuario.email}}</span></div>
        <div class="my-1">
            <img src="{{usuario.avatar}}" alt="" *ngIf="usuario.avatar">
        </div>
        <button type="" class="btn btn-secondary my-2" [routerLink]="['/usuarios']">Cancelar</button>
    </div>
</div>