
 
<ng4-loading-spinner [loadingText]="'Espera...'"> </ng4-loading-spinner>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido paterno</th>
        <th scope="col">Correo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listaUsuarios; let i=index">
        <th scope="row">{{user.id}}</th>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['/usuarios/editar-usuario',user.id]">Editar</button>
          <button type="button" class="btn btn-success ml-1" [routerLink]="['/usuarios/detalle-usuario/',user.id]">Detalle</button>
        </td>
      </tr>
    </tbody>
</table>
<!-- <img src="../../../assets/images/spin.svg" alt=""> -->
        
