/* You can add global styles to this file, and also import other style files */
body {
    color: #444;
    background: #F8F9FA;
}
.span-error {
    font-size: 12px;
    color: #f66060;
}

.subtitle-blue{
    color: #007bff;
}

